[Desktop Entry]
Comment=Condres Homepage
_Comment=Condres Homepage
Comment[ca]=Lloc web de Condres
Comment[ca@valencia]=Lloc web de Condres
Comment[de]=Condres Webseite
Comment[es]=Lloc web de Condres
Comment[gl]=Lloc web de Condres
Exec=xdg-open https://condresos.codelinsoft.it
Icon=condres
Name=Homepage
_Name=Homepage
Name[ca]=Lloc web
Name[ca@valencia]=Lloc web
Name[de]=Webseite
Name[es]=Lloc web
Name[gl]=Lloc web
StartupNotify=true
Terminal=false
Type=Application
Categories=Condres;
