[Desktop Entry]
Comment=Condres Code Repository
_Comment=Condres Code Repository
Comment[ca]=Repostiori de codi de Condres
Comment[de]=Condres Quellcode Repositorium
Comment[it]=Repository dei codici sorgenti di Condres
Exec=xdg-open https://github.com/specialworld83
Icon=preferences-system
Name=Code
_Name=Code
Name[ca]=Codi
Name[de]=Quellcode
Name[it]=Codice
StartupNotify=true
Terminal=false
Type=Application
Categories=Condres;
