[Desktop Entry]
Comment=Condres Forums
_Comment=Condres Forums
Comment[ca]=Forums de Condres
Comment[ca@valencia]=Forums de Condres
Comment[de]=Condres Foren
Comment[es]=Foros de Condres
Comment[gl]=Foros de Condres
Exec=xdg-open https://condresos.codelinsoft.it/index.php/forum
Icon=system-users
Name=Forums
_Name=Forums
Name[ca]=Forums
Name[ca@valencia]=Forums
Name[de]=Foren
Name[es]=Foros
Name[gl]=Foros
StartupNotify=true
Terminal=false
Type=Application
Categories=Condres;
