[Desktop Entry]
Comment=Condres Documentation
_Comment=Condres Documentation
Comment[ca]=Documentació de Condres
Comment[ca]=Documentació de Condres
Comment[ca@valencia]=Documentació de Condres
Comment[de]=Condres Dokumentation
Comment[es]=Documentación de Condres
Comment[gl]=Documentación de Condres
Exec=xdg-open https://condresos.codelinsoft.it/index.php/support/documentation
Icon=system-help
Name=Documentation
_Name=Documentation
Name[ca]=Documentació
Name[ca@valencia]=Documentació
Name[de]=Dokumentation
Name[es]=Documentación
Name[gl]=Documentación
StartupNotify=true
Terminal=false
Type=Application
Categories=Condres;
