[Desktop Entry]
Categories=Qt;System;
Comment[de]=
Comment=Installation Condres OS
_Comment=Installation Condres OS
Exec=calamares_polkit
GenericName[de]=Installation Condres OS
GenericName=Installation Condres OS
GenericName[ca]=Instal.lació
GenericName[es]=Instalación
GenericName[fr]=Installation Condres OS
GenericName[gl]=Instalación
Icon=/usr/share/icons/calamares.png
MimeType=
Name=Installation Condres OS
_Name=Installation Condres OS
Name[de]=Installation Condres OS
Name[ca]=Instal.lació
Name[es]=Instalación
Name[fr]=Installation Condres OS
Name[gl]=Instalación
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
